.box {
  background-color: pink;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 30px;
}

.box--active {
  background-color: aqua;
}

.main {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main .box:nth-child(2) {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
}

.input--active {
  background-color: yellow;
}